<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-personal-portfolio-website</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    
</head>


<body>
    <div class="container">
        <div class="brand" ><span>S</span>oumyak.</div>
        <div class="infobar" style="background: transparent;">
            <ul > 
                <li style="color: brown; opacity:0.7;">Home</li>
                <li>About</li>
                <li>Services</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="sidebar toggle" id="togg">
            <div class="ham">
                <i class="fa-solid fa-circle-xmark" id="cross"></i>
                <i class="fa-solid fa-bars " id="hamburger"></i>
            </div>
            <nav>
                <ul>
                    <li><a href="/intro.html"> My Intro </a> </li>
                    <li><a href="/projects.html"> Projects </a> </li>
                    <li><a href="/blog.html">blog</a> </li>
                    <li><a href="/contact"> Contact</a> </li>
                </ul>
            </nav>
        </div>