 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
 
 * {
     margin: 0;
     padding: 0;
 }

 #load{
    height: 100vh;
    width: 100vw;
    position:absolute;
    background : #000000 url('https://media0.giphy.com/media/VseXvvxwowwCc/giphy.gif?cid=ecf05e47s5h0pey9gy1jnlr191s07ha18hfv6yuwxo2jcax8&rid=giphy.gif&ct=g') no-repeat center;
    text-align: center;
    z-index: 999;
 }
 .sidebar {
     background-color: #000000;
     width: 200px;
     font-family: 'Fira Sans', sans-serif;
     height: 100vh;
     position: absolute;
     z-index: 2;
     transition: transform 0.3s ease-in;

 }

 .toggle {
     position: absolute;
     left: -200px;
 }

 .sidebar nav {
     padding: 20px;
     padding-top: 80px;
     font-size: 20px;
     line-height: 4;
 }

 .sidebar nav ul li {
     list-style: none;
 }

 .sidebar nav ul li a {
     text-decoration: none;
     color: white;
 }

 .main {
     width: 90vw;
     height: 100vh;
 }

 .main .infocontainer {
     /* background-color: blue; */
     height: 55vh;
     width: 80vw;
     margin: 144px auto;
     display: flex;
     justify-content: space-around;

 }

 .devinfo {
     display: flex;
     justify-content: center;
     flex-direction: column;
     color: #fff;
     font-family: 'Source Code Pro', monospace;
 }

 .devpic {
     position: relative;
     height: 400px;
     width: 400px;
     border-radius: 50%;
     background-color:333333 ;
     overflow: hidden;
 }

 .devpic::before {
     content: "";
     position: absolute;
     inset: -10px 140px;
     background: linear-gradient(315deg, #00ccff, #d400d4);
     transition: 0.5s;
     animation: animate 4s linear infinite;
 }

 .devpic::after {
     content: "";
     position: absolute;
     inset: 10px;
     background-color: #333333;
     border-radius: 50%;
     z-index: 1;
 }

 .devpic:hover::before {
     inset: -20px 0;
 }

 @keyframes animate {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }

 }

 .content {
     position: absolute;
     inset: 30px;
     border: 6px solid black;
     z-index: 3;
     border-radius: 50%;
     overflow: hidden;
 }

 .content img {
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: 0.5s;
     z-index: -1;
 }

 /* .devpic:hover .content img {
     opacity: 0;
 } */



 .hello {
     font-size: 2rem;
     color: #d8e8ff
 }

 .static-txt {
     font-size: 3rem;
     font-weight: 600;
 }

 .name {
     font-size: 2.5rem;
     font-weight: bold;
     font-family: 'Fira Sans', sans-serif;

 }

 .about {
     font-size: 30px;
 }

 .moreabout {
     font-family: 'Fira Sans', sans-serif;
     margin-top: 10px;

 }

 .buttons {
     margin-top: 34px;
}
 .buttons a{
    color:#fff;
    position:relative;
    display: inline-block;
    padding:12px 36px;
    text-decoration: none;
    text-transform: uppercase;
    font-size:18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    overflow: hidden;

 }
 .buttons a:nth-child(2){
    background: linear-gradient(90deg,#755bea,#ff72c0);

 }



 .container {
     display: flex;
     background: #333333;
     height: 100vh;
 }



 form {
     display: flex;
     flex-direction: column;
     position: relative;
     top: 90px;
     left: 100px;
 }

 label {
     font-size: 1.2em;
     margin-bottom: 0.5em;
 }

 input[type="text"],
 input[type="email"],
 textarea {
     text-align: center;
     padding: 0.5em;
     font-size: 1em;
     margin-bottom: 1em;
     border-radius: 5px;
     border: 1px solid;
     background: transparent;
     font-size: 20px;
     font-weight: 200;
 }
.container .infobar{
    position:absolute;
    top:15px;
    right:10px;
}
.container .infobar ul {
    display: flex;
    justify-content: space-around;
}
.container .infobar ul li{
    background:transparent;
    list-style: none;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight:bold;
    font-family:sans-serif;
    color:#f9fafc;
    text-transform: uppercase;

 }

 input[type="text"]:focus,
 input[type="email"]:focus,
 textarea:focus {
     outline: none;
     box-shadow: inset 0 -3px 0 0 #A683E3;
 }

 button[type="submit"] {
     background-color: #ffd700;
     color: white;
     padding: 0.8em;
     font-size: 1em;
     border-radius: 5px;
     border: none;
     cursor: pointer;
     transition: background-color 0.2s;
 }

 button[type="submit"]:hover {
     background-color: #0053a3;
 }

 ::placeholder {
     color: grey;
     opacity: 1;
 }

 .infobar {
     width: 50vw;
     text-align: center;
     background: #bd0e0e;

 }

 .fa-solid,
 .fas {
     font-weight: 900;
     font-size: 2rem;
     position: absolute;
     top: 10px;

 }

 #cross {
     left: 10px;
     color:#fff;
     opacity: 0.8;
 }

 #hamburger {
     left: 209px;
     color:#fff;
     opacity: 0.5;
 }
  
 .container .brand{
    font-size: 35px;
    color:white;
    display: inline-flex;
    position: absolute;
    letter-spacing: 2px;
    top:5px;
    left:50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
 }
 .container .brand span{
    color: #FC6D6D;
 }
 .wrapper {
     display: inline-flex;

 }

 .wrapper .dynamic-txt {
     line-height: 60px;
     height: 80px;
     overflow: hidden;
 }


 .wrapper .dynamic-txt li {
     list-style: none;
     margin-left: 20px;
     /* margin-top: 30px; */
     line-height: 120px;
     font-size: 50px;
     color: #FC6D6D;
     position: relative;
     top: -30px;
     animation: slide 4.5s steps(3) infinite;

 }

 @keyframes slide {
     100% {
         top: -388px;
     }
 }

 .wrapper .dynamic-txt li span {
     position: relative;
     font-family: 'Source Code Pro', monospace;

 }

 .wrapper .dynamic-txt li span::after {
     content: "";
     position: absolute;
     left: 0;
     height: 145%;
     width: 100%;
     border-left: 2px solid #FC6D6D;
     background: #333333;
     animation: typing 1.5s steps(10) infinite;

 }

 @keyframes typing {
     100% {
         left: 100%;
         margin: 0 -35px 0 35px;
     }

 }

 .buttons  a span {
    position:absolute;
    background-color: white;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate1 1s linear infinite;
 }

 @keyframes animate1{
    0%{
        width:0;
        height: 0;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
 }

/* footer  */
  .socIcon{
    position: absolute;
     bottom:40px;
    left:20px;
    
} 
.socIcon .button {
    display: inline-block;
    margin-right: 30px;
    /* background-color:red; */
    
    line-height: 10px;
    height: 60px;
    width: 60px;
    box-shadow: 0px 10px 10px rgb(255, 255, 255,0.1);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.socIcon .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
     
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
}
.socIcon .button .icon i{
    font-size: 25px;
    line-height: 60px;
    color: white;
    
}
.socIcon .button span{
    font-size: 20px;
    font-weight:  500;
    /* letter-spacing: 2px; */
    line-height: 60px;
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.socIcon .button:hover{
    width:200px;
    background:white;
}
.socIcon .button:nth-child(3):hover .icon {
    background: linear-gradient(90deg,#0162c8,#55e7fc);

}
.socIcon .button:nth-child(2):hover .icon{
    background: linear-gradient(90deg,#755bea,#ff72c0) ;
}
.socIcon .button:nth-child(1):hover .icon{
    background:linear-gradient(135deg, #f6d365 0%, #fda085 100%) ;
}

@media only screen and (max-width: 600px) {
    .infobar{
        display: none;
    }
    .devinfo .hello{
        font-size: 30px;
        position: relative;
        left:70px;

    }
    .devinfo .wrapper .static-txt{
        font-size: 30px;
        position: relative;
        left:15px;
        top:10px;
    }
    .devinfo .wrapper{
        font-size: 30px;
        position: relative;
        left:50px;

    }
    
    .devinfo .wrapper .dynamic-txt li{
        font-size: 45px;
    }
    .devinfo a{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 50px;
        width: 180px;
    }
    
}